# juno overwatch's notebook stuff
notebooks/data
notebooks/cifar_net.pth
.ipynb_checkpoints/

# install the modules yourself I don't want the github having like 200 files just for modules
node_modules

# to stop compiled js files from ts from doubling the fuckin file count
*.js

# and no taking my login info
**/mainuser.json

# files
.vscode
.env
.env.local
package-lock.json
yarn.lock

# folders
build
node_modules